{% extends "layout.html" %}
{% block title %}EventSnap{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>This is the home page</h1>
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('index') }}">
        <input type="file" name="photo" accept="image/jpeg">
        <input type="submit" value="Upload">
    </form>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>time</th>
                <th>Location</th>
                <th>Host</th>
                <th>Type</th>
                <th>Sign Up</th>
                <th>Website</th>
            </tr>
        </thead>
        <tbody>
            {% if events %}
                {% for event in events %}
                    <tr>
                        <td>{{ event.name }}</td>
                        <td>{{ event.date }}</td>
                        <td>{{ event.time }}</td>
                        <td>{{ event.location }}</td>
                        <td>
                            {% for host in event.hosts %}
                                {{ host}}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ event.type }}</td>
                        <td><a href="{{ event.signUpLink }}" target="_blank">Sign up</a></td>
                        <td><a href="{{ event.website }}" target="_blank">Website</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">No events found</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
