{% extends "layout.html" %}
{% block title %}EventSnap{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
    <h1>EventSnap</h1>

    <form method="POST" enctype="multipart/form-data" action="{{ url_for('index') }}">
        <div>
            <input type="file" name="photo" accept="image/jpeg">
            <input type="submit" value="Upload">
        </div>

    </form>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>time</th>
                <th>Location</th>
                <th>Host</th>
                <th>Type</th>
                <th>Website</th>
                <th>Sign-Up</th>
            </tr>
        </thead>
        <tbody>
            {% if events %}
                {% for event_key, event_details in events.items() %}
                    <tr>
                        <td>{{ event_details.name }}</td>
                        <td>{{ event_details.date }}</td>
                        <td>{{ event_details.time }}</td>
                        <td>{{ event_details.location }}</td>
                        <td>
                            {% for host in event_details.hosts %}
                                {{ host}}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ event_details.type }}</td>
                        <td>
                            {% if event_details.website == "N/A" %}
                                No website
                            {% else %}
                                <a href="{{ event_details.website }}" target="_blank">Website</a>
                            {% endif %}
                        </td>
                        <td><a href="{{ event_details.signUpLink }}" target="_blank">Sign-Up</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">No events found</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
